<div class="main">
  <div class="instructions">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
    &nbsp;Hue / Saturation / Luminance:
  </div>
  <canvas id="rainbow" width="300" height="150">
    <!--(mousedown)="onCanvasMouseDown"-->
  </canvas>
  <div class="sliders">
    <input type="range" id="slider" name="slider" min="0" max="100" value="100" step="1" orient="vertical">
    <!--(click)="onSliderclick"-->
  </div>
  <div class="rgb">
    <div class="instructions">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      &nbsp;Red:
    </div>
    <input type="number" id="red" min="0" max="255">
    <!--(keyup)="onRedKeyUp"-->
    <div class="instructions">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      &nbsp;Green:
    </div>
    <input type="number" id="green" min="0" max="255">
    <!--(keyup)="onGreenKeyUp"-->
    <div class="instructions">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      &nbsp;Blue:
    </div>
    <input type="number" id="blue" min="0" max="255">
    <!--(keyup)="onBlueKeyUp"-->
  </div>
  <div class="info">
    <div class="instructions">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      &nbsp;Hexadecimal:
    </div>
    <input type="text" id="hexadecimal" maxlength="7">
    <!--(keyup)="onHexadecimalKeyUp"-->
  </div>
</div>